@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'butcherman_regular';
    src: url('../assets/butcherman-regular-webfont.woff2') format('woff2'),
         url('../assets/butcherman-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'luckiest_guyregular';
    src: url('../assets/luckiestguy-regular-webfont.woff2') format('woff2'),
         url('../assets/luckiestguy-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'mysteryquest_regular';
    src: url('../assets/mysteryquest-regular-webfont.woff2') format('woff2'),
         url('../assets/mysteryquest-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.creepy
{
    font-family: 'butcherman_regular'
}

.festive
{
    font-family: 'mysteryquest_regular'
}

.playful
{
    font-family: 'luckiest_guyregular'
}

.date-soiree.passee
{
    @apply opacity-35;
}

.date-soiree.prochaine
{
    @apply text-4xl;
    @apply text-purple-600;
    @apply opacity-100;
}

.date-soiree.a-venir
{
    @apply opacity-70;
}
